PORT=5000
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/kindercash
JWT_SECRET=tu_secreto_super_seguro_aqui_cambialo
JWT_EXPIRES_IN=7d
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
